@model IEnumerable<TorneioLuta.LutadorModel>

@{
    ViewData["Title"] = "GetLutadores";
}

<h1>GetLutadores</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalLutas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Derrotas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vitorias)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalLutas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Derrotas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vitorias)
            </td>
        </tr>
}
    </tbody>
</table>
